{% load static %}


<!DOCTYPE html>
<html lang="en">
    

    <head>
        <title>Check that tweet!</title>
        <meta charset="utf-8" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width" initial-scale="1.0" >
        <link rel="stylesheet" href=" {% static "assets/css/styles.css" %}" type = "text/css"/>
         <link rel="stylesheet" href=" {% static "assets/css/bootstrap.css" %}" type = "text/css"/>
         <script src="{% static "assets/js/bootstrap.js" %}"></script>
         <script src="{% static "assets/js/bootstrap-datepicker.js" %}"></script>
         <link rel="stylesheet" href=" {% static "assets/css/datepicker.css" %}" type = "text/css"/>
         <meta name="keywords" content="css3, login, form, custom, input, submit, button, html5, placeholder" />
         
    </head>
    
    <body class="body">
        <div class="container">
   <!--
        <header>
            <p> Header </p>
        </header>
    -->    
        
        {% block content %}
        {% endblock %}
        
        </br></br></br></br>
        
        </div>
        
    </body>
    

</html>