{% extends "base.html" %}
{% block content %}

<header>
    <nav class="codrops-demos">
        <a class="current-demo" href="{% url 'tweet' %}" >Tweet with python 1</a>
        <a href="{% url 'tweet2' %}" >Tweet with python 2</a>
    </nav>
    <h1>Tweets with python</h1>
</header>

<section class="main">
    
    <form class="form-1" action="" method="post" id="my_form" accept-charset="utf-8">
    <p class="field">
        <label for="male"> {{ data }}</label>
    </p>
    </form>
</section>




{% endblock %}
<p>{{ context_instance }}</p>