{% extends "base.html" %}
{% block content %}

<header>
    <nav class="codrops-demos">
        <a class="current-demo" href="{% url 'tweet' %}" >Tweet with python 1</a>
        <a href="{% url 'tweet2' %}" >Tweet with python 2</a>
    </nav>
<h1>Tweets with python</h1>
</header>

<section class="main">
				<form class="form-1" action="" method="post" id="my_form" accept-charset="utf-8">
                    {% csrf_token %}
                    
                    {% autoescape on %}
                    {% if form.errors %}
                    <div class="text-danger">Please correct the error{{ form.errors|pluralize }} below.</div>
                    {% endif %}
                    
                    
                    <p class="field">
                    Keyword
                    {{ form.keyword }}
                    {% if form.keyword.errors %}
                    <span class="text-danger">>
                        {% for error in form.keyword.errors %}
                        {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="field">
                    Number of hashtags
                    {{ form.numOfHashtags }}
                    {% if form.numOfHashtags.errors %}
                    <span class="text-danger">>
                        {% for error in form.numOfHashtags.errors %}
                        {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="field">
                    Number of URLs
                    {{ form.numOfUrls }}
                    {% if form.numOfUrls.errors %}
                    <span class="text-danger">>
                        {% for error in form.numOfUrls.errors %}
                        {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="field">
                    Places
                    {{ form.numOfPlaces }}
                    {% if form.numOfPlaces.errors %}
                    <span class="text-danger">>
                        {% for error in form.numOfPlaces.errors %}
                        {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="field">
                    Number of pictures
                    {{ form.numOfPictures }}
                    {% if form.numOfPictures.errors %}
                    <span class="text-danger">>
                        {% for error in form.numOfPictures.errors %}
                        {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="field">
                    Followers Count
                    {{ form.followersCount }}
                    {% if form.followersCount.errors %}
                    <span class="text-danger">>
                        {% for error in form.followersCount.errors %}
                        {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="field">
                    Choose Machine
                    {{ form.chosenMachine }}
                    {% if form.chosenMachine.errors %}
                    <span class="text-danger">>
                        {% for error in form.chosenMachine.errors %}
                        {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="submit">
                      <button type="submit" name="submit"><i class="icon-arrow-right icon-large"></i></button>
                    </p>
                    
                    {% endautoescape %}
                    
                </form>
</section>



{% endblock %}
<p>{{ context_instance }}</p>


