{% extends "base.html" %}
{% block content %}

<header>
    <nav class="codrops-demos">
        <a href="{% url 'tweet' %}" >Tweet with python 1</a>
        <a class="current-demo" href="{% url 'tweet2' %}" >Tweet with python 2</a>
    </nav>
<h1>Tweet with python 2</h1>
</header>

<section class="main">
				<form class="form-1" action="" method="post" id="my_form" accept-charset="utf-8">
                    {% csrf_token %}
                    
                    {% autoescape on %}
                    {% if form.errors %}
                    <div class="text-danger">Please correct the error{{ form.errors|pluralize }} below.</div>
                    {% endif %}
                    
                    <p class="field">
                    Keyword
                    {{ form.keyword }}
                    {% if form.keyword.errors %}
                    <span class="text-danger">>
                        {% for error in form.keyword.errors %}
                        {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="field">
                    Start Date Of Training Set
                    {{ form.startDateTraining }}
                    {% if form.startDateTraining.errors %}
                    <span class="text-danger">>
                        {% for error in form.startDateTraining.errors %}{{ error }}{% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="field">
                    End Date Of Training Set
                    {{ form.endDateTraining }}
                    {% if form.endDateTraining.errors %}
                    <span class="text-danger">>
                        {% for error in form.endDateTraining.errors %}{{ error }}{% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="field">
                    Start Date Of Testing Set
                    {{ form.startDateTesting }}
                    {% if form.startDateTesting.errors %}
                    <span class="text-danger">>
                        {% for error in form.startDateTesting.errors %}{{ error }}{% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="field">
                    End Date Of Testing Set
                    {{ form.endDateTesting }}
                    {% if form.endDateTesting.errors %}
                    <span class="text-danger">>
                        {% for error in form.endDateTesting.errors %}{{ error }}{% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="field">
                    Size of train samples
                    {{ form.sizeTrainSamples }}
                    {% if form.sizeTrainSamples.errors %}
                    <span class="text-danger">>
                        {% for error in form.sizeTrainSamples.errors %}
                        {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="field">
                    Size of test samples
                    {{ form.sizeTestSamples }}
                    {% if form.sizeTestSamples.errors %}
                    <span class="text-danger">>
                        {% for error in form.sizeTestSamples.errors %}
                        {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                    </p>

                    <p class="field">
                    Choose Machine
                    {{ form.chosenMachine }}
                    {% if form.chosenMachine.errors %}
                    <span class="text-danger">>
                        {% for error in form.chosenMachine.errors %}
                        {{ error }}
                        {% endfor %}
                    </span>
                    {% endif %}
                    </p>
                    
                    <p class="submit">
                    <button type="submit" name="submit"><i class="icon-arrow-right icon-large"></i></button>
                    </p>
                    
                    {% endautoescape %}
                </form>
</section>

<script>
    $(document).ready(function() {
                      $('#startDateTraining').datepicker({
                                                         format: 'yyyy-mm-dd',
                                                         autoclose: true,
                                                         }).on('changeDate', function (selected) {
                                                               var startDate = new Date(selected.date.valueOf());
                                                               $('.endDateTraining').datepicker('setStartDate', startDate);
                                                               }).on('clearDate', function (selected) {
                                                                     $('.endDateTraining').datepicker('setStartDate', null);
                                                                     });
                      
        $('#startDateTesting').datepicker();
                      
                      
                      $('#endDateTraining').datepicker({
                                                       format: 'yyyy-mm-dd',
                                                       autoclose: true,
                                                       }).on('changeDate', function (selected) {
                                                             var endDate = new Date(selected.date.valueOf());
                                                             $('.startDateTraining').datepicker('setEndDate', endDate);
                                                             }).on('clearDate', function (selected) {
                                                                   $('.startDateTraining').datepicker('setEndDate', null);
                                                                   });
                      
                      
        $('#endDateTesting').datepicker();
    });
    
</script>



{% endblock %}
<p>{{ context_instance }}</p>