{% extends "base.html" %}
{% block content %}

<header>
    <nav class="codrops-demos">
        <a href="{% url 'tweet' %}" >Tweet with python 1</a>
        <a class="current-demo" href="{% url 'tweet2' %}" >Tweet with python 2</a>
    </nav>
    <h1>Tweets</h1>
</header>
<head>
    <style>
        table, th, td {
            margin-left: 5px;
        }
    </style>
</head>
<section class="main">
    
    <div id="container" style="min-width: 1100px; height: 350px; margin: 0 auto">
        
        {% load chart_tags %}
        {% chart %}
        cht=bvg
        chdl=LabelSet|ResultSet
        chco=4D89F9 ,ff0000
        chd=t:  {{ testMessage }}
        chxt=x,y
        chxl=0:|{{ xLabels|join:"|" }}|1:|0|{{ highestScoreTest }}
        chbh=a
        chs=1000x300
        chds=0,{{ highestScoreTest }}
        chtt=Tweets+with+ {{ title }}
        {% endchart %}
        
    </div>
    
</section>

<section class="main">
    
    <div id="container" style="min-width: 1100px; height: 400px; margin: 0 auto">
        
        
        <div style="width: 50%; height: 50%; float:left;">

 <a style="margin-left:150px "> Confusion Matrix for the Training set: </a>


<table style="width:80% ">
    <tr><td></td><td><b>Predicted Class</b></td></tr>
    <td><b>Actual Class</b></td>
    <td>
        <table style="width:100% " >
                        <td></td>
        {% for label in matrixLabels %}

            <td><b>{{label}}</b></td>

        {% endfor %}
       
        {% for a,item in matrixConfTrain %}
        <tr>
            <td> <b>{{ a }}</b></td>
            {% for val in item %}
            
            <td>{{val}}</td>
            {% endfor %}
        </td>

        {% endfor %}
        </table>
        </tr>
</table>
        </div>
        
         <div style="width: 50%; height: 50%; float:right;">
             
        <a style="margin-left:150px "> Confusion Matrix for the Testing set: </a>
        
        <table style="width:80% ">
            <tr><td></td><td><b>Predicted Class</b></td></tr>
            <td><b>Actual Class</b></td>
            <td>
                <table style="width:100% " >
                    <td></td>
                    {% for label in matrixLabels %}
                    
                    <td><b>{{label}}</b></td>
                    
                    {% endfor %}
                    
                    {% for a,item in matrixConfTest %}
                    <tr>
                        <td> <b>{{ a }}</b></td>
                        {% for val in item %}
                        
                        <td>{{val}}</td>
                        {% endfor %}
                        </td>
            
            {% endfor %}
        </table>
        </tr>
        </table>


        </div>
        <div style="width: 100%; height: 50%; clear:both"></div>
    </div>
    
</section>

{% endblock %}
<p>{{ context_instance }}</p>
